.CustomButton {
  border-radius: 10px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  &.filled {
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  }
  &.outlined {
    background: none;
    border: solid 1px #618967;
  }
  &.text {
    background: none;
    border: none;
  }
}
