.MenuPage {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;

  &__Button {
    width: 511px;
    height: 71px;
    border-radius: 10px;
    background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
    color: #ffffff;
    font-family: Open Sans;
    font-size: 28px;
    font-weight: 600;
    line-height: 38.13px;
    letter-spacing: 0.03em;
    border: none;
  }
}
