.Category {
  &__border {
    max-width: 12px;
    max-height: 4px;
    color: #618967;
    padding-right: 19px;
  }
  &__establishments {
    display: flex;
    color: #ffffff;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 43.58px;
    letter-spacing: 0.03em;
    height: 44px;
    margin: 0 0 16px 40px;
    padding-top: 47px;
  }

  &__wrapper {
    display: flex;
    border-bottom: 1px solid #ffffff33;
    padding-bottom: 50px;
    padding-left: 38px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
