.HomePage {
  width: 1440px;

  &__Wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
  }

  &__ShowMore {
    width: 720px;
    height: 59px;
    top: 2804px;
    left: 348px;
    border-radius: 15px;
    background-color: #618967;

    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    line-height: 30.26px;
    color: #ffffff;
  }
}
